[submodule "src/main/resources/web"]
	path = src/main/resources/web
	url = https://github.com/handymenny/uecapabilityparser-web
[submodule "src/main/resources/swagger"]
	path = src/main/resources/swagger
	url = https://github.com/HandyMenny/uecapabilityparser-swagger
