name: dependency-submission
on:
  push:
    branches:
      - main
jobs:
  pre-release:
    name: Dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup jdk11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Setup gradle
        uses: gradle/gradle-build-action@v2
      - name: Gradle Dependency Submission
        uses: mikepenz/gradle-dependency-submission@v0.9.0
